extends ../common/layout
block content

    div.figure
    div.range
    div.clock
    div.range_left
    div.figure_pos_1
    div.figure_pos_2
    div.figure_pos_3

    div.main_block
        div.main_head IT CRON
        div.main_text Проектно-продуктовый подход к оказанию IT-услуг


