header.header
    div.main_center
        div.container
            div.wrap_menu
                div.wrap_square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                    div.square
                ul.header_menu
                        li.header_menu_item
                            a.header_menu_link(href='#') Кейсы
                        li.header_menu_item
                            a.header_menu_link(href='#') Компания
                        li.header_menu_item
                            a.header_menu_link(href='#') Услуги
                        li.header_menu_item
                            a.header_menu_link(href='#') Контакты
            div.menu_right
                ul.icons
                    li
                    li
                    li

