doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Job
        meta(content="width=device-width, initial-scale=1" name="viewport")
        link(rel='stylesheet', href='../css/style.css?=fff')


    body

        block header
            include header

        block content

        block footer
            include footer
